.mainNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 8vh;
}

.mainNav button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.mainNav_center {
    display: flex;
    gap: 1.2rem;
}

.mainNav_center a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
    font-weight: bolder;
    position: relative;
}

.mainNav_center a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: transparent;
    transition: width 0.3s ease;
}

.mainNav_center a.active::after,
.mainNav_center a:hover::after,
.mainNav_center a.hovered::after {
    width: 100%;
    background-color: #184363;
}

.mainNav_right img {
    margin-left: 10px;
    width: 22px;
    height: 20px;
    gap: 1rem;
}

/* Media Query for Tablets */
@media (max-width: 768px) {
    .mainNav_center a {
        margin: 0 5px;
        /* Reduce margin for smaller screens */
    }

    .mainNav_right img {
        width: 20px;
        height: 18px;
    }
}

/* Media Query for Mobile Phones */
@media (max-width: 480px) {
    .mainNav_center {
        display: none;
        /* Hide the center part on mobile phones */
    }

    .mainNav_right img {
        margin-left: 5px;
        width: 18px;
        height: 16px;
    }
}